 <meta charset="utf-8">
   <meta name="generator" content="GitLab Pages">
   <title>Plain HTML site using GitLab Pages</title>
   <link rel="stylesheet" href="style.css">
 </head>
 <body>
   <img alt="404" src="https://www.gstatic.com/youtube/src/web/htdocs/img/monkey.png" />
   <h1>Эррор</h1>
   <h3>Page Not Found</h3>
 </body>
</html>
