 <head>
 <meta charset="utf-8">
   <meta name="generator" content="GitLab Pages">
   <title>Plain HTML site using GitLab Pages</title>
   <link rel="stylesheet" href="style.css">
 </head>
 <body>
   <div class="navbar">
     <a href="https://gitlab.com/maxonchik/ci-cd-2021-01-18/-/blob/master/.gitlab-ci.yml">Schema</a>
     <a href="https://www.gstatic.com/youtube/src/web/htdocs/img/monkey.png">Picture</a>
   </div>
   <h1>
   <a href="https://maxonchik.gitlab.io/ci-cd-2021-01-18/-">Ссылка</a>
   </h1>
   
  
 </body>
</html>
